<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga Reader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='fav.png') }}" type="image/png">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/manga">Manga</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
     

    <main>
        <div class="manga-card">
            <h2>Error</h2>
            <p>{{ Error }}</p>
        </div>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
