<!DOCTYPE html>
<html lang="en" class='uncopyable'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - MR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='fav.png') }}" type="image/png">
</head>
<body>
    {% include 'manhwaHeader.html' %}
    
    <main class='hover' style='padding-top: 80px;'>
        <section class="contact-section">
            <h1>Contact Us</h1>
            <p>If you have any questions or feedback, feel free to reach out to us.</p>
            
            <form class="contact-form" onsubmit="event.preventDefault(); sendToDiscord();">
                <label for="email">Email/Discord:</label>
                <input type="text" id="email" name="email" required>
                
                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" required>
                
                <label for="body">Body:</label>
                <textarea id="body" name="body" rows="10" required></textarea>
                
                <button type="submit">Send Message</button>
            </form>
        </section>

        <br><br><br><br><br><br>

        <h1>Join Our Community</h1>
        <p>Connect with other readers on our <a href="https://www.discord.gg/k5HBFXqtCB" target="_blank" style='text-decoration: none; color: var(--link-color);'>Discord Server</a></p>
        <p>Created by <a href="https://www.github.com/Bernso" target="_blank" style='text-decoration: none; color: var(--link-color);'>Bernso</a></p>
    </main>

    <script>
        function sendToDiscord() {
            const email = document.getElementById('email').value;
            const subject = document.getElementById('subject').value;
            const body = document.getElementById('body').value;
    
            const data = {
                "email": email,
                "subject": subject,
                "body": body
            };
    
            fetch('/send_to_discord', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Message sent successfully!");
                } else {
                    alert("Failed to send message.");
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
    
</body>
</html>
