<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manhwa Reader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='fav.png') }}" type="image/png">
</head>
<body>
    {% include 'manhwaHeader.html' %}

     

    <main>
        <section id="featured">
            <h1>Featured Manhwa</h1>
            <div class="manga-scroll">
                {% for manga in featured_manga %}
                <div class="manga-card">
                    <img src="{{ url_for('serve_image', manga_title=manga.title) }}" alt="{{ manga.title }}">
                    <h2>{{ manga.title }}</h2>
                    <p>{{ manga.description }}</p>
                    <a href="{{ url_for('manga_detail', manga_id=manga.id) }}">Read More</a>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
     
       
    <main class="community" style='text-align: center; color: var(--text-muted); padding-bottom: 150px;'>
        <h1>Join Our Community</h1>
        <p>Connect with other readers on our <a href="https://www.discord.gg/k5HBFXqtCB" target="_blank" style='text-decoration: none;'>Discord Server</a></p>
        <p>Created by <a href="https://www.github.com/Bernso" target="_blank" style='text-decoration: none;'>Bernso</a></p>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
