<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ manga.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='fav.png') }}" type="image/png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('homePage') }}">Home</a></li>
                <li><a href="{{ url_for('manga_list') }}">Manga</a></li>
                <li><a href="{{ url_for('search') }}">Search</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main></main>
    <main>
        <section id="manga-details">
            <div class="manga-information">
                <img src="{{ url_for('serve_image', manga_title=manga.title) }}" alt="{{ manga.title }}" class="manga-cover">
                <div class="manga-content">
                    <h2>{{ manga.title }}</h2>
                    <p style='text-align: left;'>{{ manga.description }}<br><br></p><p style='text-align: left;'>Type: {{ manga.type }}</p>
                </div>
            </div>
            
            <h2>Chapters</h2>
            <div class="chapter-container">
                {% for chapter in chapters %}
                    <a href="{{ url_for('chapter_detail', manga_title=manga.title, chapterName=chapter.title) }}" class="chapter-link">{{ chapter.title }}</a>
                {% endfor %}
            </div>
            <br><br><br><br><br><br>
            <section id="recommended-manga">
                <h1>Recommended Manga</h1>
                
                <div class="recommended-scroll">
                    {% for recommended in reccomended_manga %}  <!-- Ensure this matches the Flask route variable -->
                    <div class="recommended-card">
                        <img src="{{ url_for('serve_image', manga_title=recommended.image_title) }}" alt="{{ recommended.title }}" class="recommended-cover">
                        <h3>{{ recommended.title }}</h3>
                        <a href="{{ url_for('manga_detail', manga_id=recommended.id) }}">View Details</a>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </section>
    </main>
    <main></main>
    <main class="community" style='text-align: center; color: var(--text-muted);'>
        <h1>Join Our Community</h1>
        <p>Connect with other readers on our <a href="https://www.discord.gg/k5HBFXqtCB" target="_blank" style='text-decoration: none;'>Discord Server</a></p>
        <p>Created by <a href="https://www.github.com/Bernso" target="_blank" style='text-decoration: none;'>Bernso</a></p>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
