<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ chapter_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mangaStyle.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='fav.png') }}" type="image/png">
</head>
<body>
    {% include 'header.html' %}
    <div class="progress-container">
        <div id="progress-bar"></div>
    </div>
    
    <div class="container" style='background: var(--background-light)'>
        <div class="controls">
            <label for="image-height">Adjust Height:</label>
            <input type="range" id="image-height" min="100" max="1000" value="{{ saved_height }}" class="uncopyable">
            <label id="height-value">&nbsp;&nbsp;{{ saved_height }}px</label> <!-- Display slider value -->
        </div>
        <div class="chapter-navigation">
            {% if previous_chapter %}
                <a href="{{ url_for('manga_reader', manga_name=manga_name, chapter_name=previous_chapter) }}" class="btn">Previous Chapter</a>
            {% endif %}
            {% if next_chapter %}
                <a href="{{ url_for('manga_reader', manga_name=manga_name, chapter_name=next_chapter) }}" class="btn">Next Chapter</a>
            {% endif %}
        </div>
        
        <div class="manga-viewer unselectable">
            <img id="manga-panel" src="{{ images[0] }}" alt="Manga Panel">
        </div>
    </div>
        
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const images = {{ images|tojson }};
            let currentImageIndex = 0;
        
            const mangaPanel = document.getElementById('manga-panel');
            const heightSlider = document.getElementById('image-height');
            

            // Load height setting from localStorage
            const savedHeight = localStorage.getItem('mangaPanelHeight');
            if (savedHeight) {
                heightSlider.value = savedHeight;
            }

            function updateProgressBar() {
                const progressBar = document.getElementById('progress-bar');
                const progress = ((currentImageIndex + 1) / images.length) * 100;
                progressBar.style.width = progress + '%';
            }
            
            function updateImage() {
                if (images.length > 0) {
                    mangaPanel.src = images[currentImageIndex];
                    updateProgressBar(); // Update the progress bar whenever the image changes
                }
            }
            
        
            function adjustHeight() {
                const maxHeight = window.innerHeight - document.querySelector('.controls').offsetHeight - document.querySelector('.chapter-navigation').offsetHeight;
                mangaPanel.style.height = heightSlider.value + 'px';
            
                if (parseInt(heightSlider.value) >= maxHeight) {
                    mangaPanel.style.overflow = 'hidden';
                } else {
                    mangaPanel.style.overflow = 'auto';
                }
                
                // Save height setting to localStorage
                localStorage.setItem('mangaPanelHeight', heightSlider.value);
                
                // Send the height to the server
                fetch('/save_height', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ height: heightSlider.value })
                });
            }
            
        
            document.addEventListener('keydown', function(event) {
                if (event.key === 'ArrowLeft') {
                    if (currentImageIndex > 0) {
                        currentImageIndex--;
                        updateImage();
                    }
                } else if (event.key === 'ArrowRight') {
                    if (currentImageIndex < images.length - 1) {
                        currentImageIndex++;
                        updateImage();
                    }
                }
            });
        
            heightSlider.addEventListener('keydown', function(event) {
                if (event.key === 'ArrowLeft' || event.key === 'ArrowRight') {
                    event.preventDefault();
                }
            });
        
            heightSlider.addEventListener('input', function() {
                adjustHeight();
                mangaPanel.style.transition = 'height 0.3s ease';
            });


            
        
            const maxHeight = window.innerHeight - document.querySelector('.controls').offsetHeight - document.querySelector('.chapter-navigation').offsetHeight;
            heightSlider.max = maxHeight;
            adjustHeight();
            updateImage();
        });


        document.addEventListener('DOMContentLoaded', function() {
            const header = document.querySelector('.main-header');
            
            // Hide the header initially
            header.classList.add('header-hidden');
            
            document.addEventListener('keydown', function(event) {
                if (event.key.toLowerCase() === 'h') {
                    header.classList.toggle('header-hidden');
                }
            });
        });
        
    </script>
</body>
</html>
