<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga Reader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mangaStyle.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='fav.png') }}" type="image/png">
</head>
<body>
    {% include 'header.html' %}
    <main class="main-content">
        <div class="container">
            <h1>Available Manga</h1>
            <div class="manga-grid">
                {% for manga, manga_id, mangaLink in manga_list %}
                    <div class="manga-item">
                        <a href="{{ url_for('manga_details', manga_name=mangaLink) }}" aria-label="{{ manga }}">
                            <div class="manga-cover">
                                <img src="{{ url_for('serve_image', manga_title=mangaLink) }}" alt="{{ manga }} cover image" class="preview-image">
                            </div>
                            <div class="manga-title">{{ manga }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <section class="community">
            <h1>Join Our Community</h1>
            <p>Connect with other readers on our <a href="https://www.discord.gg/k5HBFXqtCB" target="_blank">Discord Server</a></p>
            <p>Created by <a href="https://www.github.com/Bernso" target="_blank">Bernso</a></p>
        </section>
    </main>
</body>
</html>
