<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ manga_title }} - {{ chapterName }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='fav.png') }}" type="image/png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/manga">Manga</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main></main>
    <main>
        <h1>{{ manga_title }}: {{ chapterName }}</h1>
        <div class="tower">
            {% for image in images %}
                <img src="{{ url_for('get_image', manga_title=manga_title, chapterName=chapterName, filename=image) }}" alt="{{ image }}">
            {% endfor %}
        </div>

        <!-- Next Chapter Button -->
        {% if next_chapter %}
        <div class="next-chapter-container">
            <a href="{{ url_for('chapter_detail', manga_title=manga_title, chapterName=next_chapter) }}" class="next-chapter-button">
                Next Chapter: {{ next_chapter }}
            </a>
        </div>
        {% else %}
        <div class="next-chapter-container">
            <p>No more chapters available.</p>
        </div>
        {% endif %}
    </main>
</body>
</html>