<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - MR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='fav.png') }}" type="image/png">
</head>
<body>
    {% include 'manhwaHeader.html' %}

    <main>
    </main>
    <main>
        <section id="featured">
            <h1>Welcome to Manga Reader</h1>

            <div class="manga-scroll">
                {% for manga in featured_manga %}
                    <img class="manga-img" src="{{ url_for('serve_image', manga_title=manga.title) }}" alt="{{ manga.title }}">
                {% endfor %}
            </div>

            <div class="link-container">
                <a href="/home" class="welcome-link">Manhwa</a>
                <a href="/manga_reader" class="welcome-link">Manga</a>
            </div>
        </section>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
